<!--
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9" style="padding: 0 !important">
            <nav class="navbar navbar-light bg-success">
                <a class="navbar-brand text-white">Smart agricultrue</a>
                <!--<form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>


      
            <div class="sidenav bg-success">
                <div class="py-3">
                    <div class="text-center">
                        <h3 class="text-white">Smart agricultrue</h3>
                    </div>
                
                    <a routerLink="/home/projects" routerLinkActive="active-menu">Projets</a>
                    <ul>
                        <li *ngFor="let p of projects">
                            <a routerLinkActive="active-menu"  [routerLink]="'/home/project-details/'+p.id" class="text-white" >{{ p.project.title }}</a>
                        </li>
                    </ul>



                    <a routerLinkActive="active-menu" routerLink="/home/rh">Ressources humaines</a>
                    <a routerLinkActive="active-menu" href="#">Ressources financières</a>
                    <a routerLinkActive="active-menu"  routerLink="/home/equipments">Gestion des engin</a>
                    <a routerLinkActive="active-menu" href="#">Analyse</a>
                    <hr>

                    <div class="pl-2 pr-2">
                        <button class="btn btn-danger btn-block" (click)="logout()">
                            Se déconnecter
                        </button>
                    </div>
                    
                    
                    


                </div>
            </div>
            
           
            <div class="main">
                <router-outlet></router-outlet>
            </div>

            
        </div>

        <div class="col-sm-3" style="padding: 0 !important">
            <app-map-component></app-map-component>
        </div>


    </div>
</div>-->





<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Smart ticket</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
       <!-- <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>-->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-danger" (click)="logout()" ><i class="fas fa-sign-out-alt fa-fw"></i></a>
        </li>
            
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" routerLink="/home/welcome">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Acceuil
                    </a>
                   
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" routerLink="/home/rh">
                        <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                        Chauffeurs de parc
                    </a>
                    <a class="nav-link"routerLink="/home/vehicules">
                        <div class="sb-nav-link-icon"><i class="fas fa-shuttle-van"></i></div>
                        Véhicules
                    </a>
                    <a class="nav-link"routerLink="/home/trips">
                        <div class="sb-nav-link-icon"><i class="fas fa-map-marked"></i></div>
                        Voyages
                    </a>
                    
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Connetée en tanque:</div>
                {{displayName}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <router-outlet></router-outlet>
            <!--<div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Primary Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Warning Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Danger Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Bar Chart Example
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>